body{
    display: flex;
}

.user-interface-helper{
    max-height: 50vh;
    overflow-y: auto;
}

.user-interface-helper >*{
    margin: 10px;
}


.screen-list {
    list-style-type: none;
    padding: 0;
}

.screen-list li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
}

.screen-list li.selected {
    background-color: #f0f0f0;
}