@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: small;
}

body >*{
    margin: 10px;
}

.user-interface-helper{
    max-height: 50vh;
    overflow-y: auto;
}

.user-interface-helper >*{
    margin: 10px;
}


.screen-list {
    list-style-type: none;
    padding: 0;
}

.screen-list li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
}

.screen-list li.selected {
    background-color: #f0f0f0;
}

.vertical-slider {
    display: flex;
    align-items: center;
}

.input-range {
    width: 100%; /* Faz o input-range ocupar 100% do width da div */
    height: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    border-radius: 10px;
    margin: 0;
}

.container-A{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.container-A > *{
    margin: 10px;
}

